/* chat-styles.css */

/* ChatHeader */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  background-color: #FAF9F4;
}
.chatHeader1 {
  background-color: #FAF9F4;
  color: #141E0D;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}


.messages{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 10px;
}

.messages p{
  color: #606060;
}

.messages img{
  border-radius: 30px;
  height: 50px;
}
.card{
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  border: none;
  background-color: #FAF9F4;
}
.trip {
  font-size:30px;
  font-family: "Mulish", sans-serif;
}
.icon1{
  height: 80px;
  font-size: 30px;
}
.icon2{
  height: 75px;
  font-size: 30px;
}

.chatHeader{
  margin-left: 25px;
  margin-right: 25px;
  justify-content: space-between;
  background-color: #FAF9F4;
}

.img-3{
  height: 50px;
  width: 50px;
  border-radius: 30px;
}

.comp1{
  display:flex;
  overflow:hidden;
}

.text1{
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Mulish", sans-serif;
  padding-bottom: 30px;
}

.icon3{
  height: 50px;
  font-size: 30px;
  color: #000000;
}

.icon3:hover{
  cursor: pointer;
}

.from {
  color: #606060;
  font-size: 20px;
  font-weight: 500;
  padding-right: 5px;
}

.comp2{
  display:flex;
  overflow: hidden;
}

.msgs{
  padding: 0px 30px;
  box-shadow: 10px;
}

.text2{
  border-radius: 0px 15px 15px 15px;
  padding: 15px;
  box-shadow: 1px 1px 2px #888888;
}

.text3{
  border-radius: 15px 0px 15px 15px;
  padding: 15px;
  box-shadow: 1px 1px 2px #888888;
}

.icon4{
  background-color: #FFFFFF;
  font-size: 30px;
  margin-right: 20px;
  padding-top: 5px;
}

.icon5{
  background-color: #FFFFFF;
  font-size: 30px;
  margin-right: 20px;
  padding-top: 5px;
}

.chatInput{
  padding: 0px 20px;
  margin-bottom: 20px;
  border-radius: 2px;
}

.form-input {
  padding-left: 100px;
}

.dropdown-menu{
  position: absolute;
  top: 100px;
  right: 20px;
  width: 200px;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  background-color: white;
}

.dropdown-menu::before{
  content:'';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.dropdown-menu li{
  padding: 10px 0;
  border-top: 1px solid rgba(0,0,0,0.05);
}

.dropdown-menu li:hover{
  color: rgba(68, 63, 114, 0.05);
  cursor: pointer;
}

.dropdown-menu li:hover img{
  opacity:1;
  cursor: pointer;
}

.dropdownItem{
  display: flex;
  margin: 10px auto;
}

.dropdownItem img{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition : var(--speed)
}

.dropdownItem a{
  max-width: 100px;
  margin-left: 10px;
  transition : var(--speed)
}

